.header1 {
  display: flex;
  justify-content: space-around;
  background-color: black;
  align-items: center;
  align-content: center;
  justify-items: center;
  color: white;
  border-radius: 30px;
  align-items: center;
}
.exp {
  display: flex;
  color: white;
  align-items: center;
  margin: auto;
}
.exp p {
  margin: 0 1rem;
}
.logo1 {
  object-fit: contain;
  height: 40px;
}
.header-mid1 {
  display: flex;
  border: 1px solid grey;
  background-color: white;
  width: 70%;
  margin: auto;
  border-radius: 30px;
  align-items: center;
  text-align: center;
}
.header-mid1 div {
  padding: 0.9rem;
  width: 100%;
  background-color: transparent;
}
.header-mid1 p {
  color: grey;
  font-size: small;
}
.header-mid1 :hover {
  border-radius: 30px;
  background-color: rgb(235, 232, 232);
}

.header-acc1 {
  border: 1px solid grey;
  padding: 0.5rem;
  background-color: white;
  border-radius: 100px;
}
.header1 div {
  display: flex;
  margin: 1rem;
  border-radius: 20px;
}
.header-r1 h5 {
  margin: 1rem;
}
.icon {
  margin-top: 1rem;
}
