/* //App// */
.app {
  background-color: black;
}

/* //Header// */
.header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-bottom: 500px;
}
.logo {
  object-fit: contain;
  height: 40px;
}
.header-mid {
  display: flex;
  border: 1px solid grey;
}
.header-mid > input {
  border: none;
  padding: 0.9rem;
  border-radius: 20px;
}
.header-acc {
  border: 1px solid grey;
  padding: 0.5rem;
}
.header div {
  display: flex;
  margin: 1rem;
  border-radius: 20px;
}

/* // Help // */

.help {
  height: fit-content;
  width: 70%;
  background-color: #ff385c;
  margin: 4rem auto;
  border-radius: 20px;
  text-align: center;
  color: white;
  padding: 6rem;
  /* margin-top: 900px; */
}
.help p {
  font-size: 2rem;
  font-weight: bold;
  background-color: #ff385c;
}
.help div {
  margin: 2rem;
  background-color: #ff385c;
}
.help button {
  border: solid 1px white;
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  background-color: #ff385c;
  margin: 1.3rem;
}

/* // Image // */

.image {
  margin: 100px auto;
  width: 85%;
  color: white;
  position: relative;
}
.image img {
  border-radius: 15px;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.btn a {
  margin: 30px;
  width: 50%;
  border-radius: 35px;
  font-size: large;
  color: rgb(194, 99, 223);
  background-color: white;
  padding: 1rem 2rem;
  text-align: center;
  margin: 1rem;
}

.btn p {
  text-align: center;
  font-size: xx-large;
  margin: 30px;
}
.btn {
  position: absolute;
  top: 60%;
  left: 10%;
  right: 10%;
  font-weight: bold;
  text-align: center;
}

/* // Cards// */
.cards {
  display: flex;
flex-flow: row wrap;
align-items:center;
justify-content: space-around;
}
.card {
  height: 400px;
  width: 300px;
  margin: 3rem;
  /* border: solid 1px black; */
  border-radius: 15px;
}
.card-down {
  /* padding: 2rem; */
  background-color: #d10c30;
  border-radius: 0 0 15px 15px;
  height: 35%;
  margin: -4px;
  color: white;
  padding: 1rem 3rem 3rem 1rem;
}
.card img {
  width: 100%;
  height: 55%;
  border-radius: 15px 15px 0 0;
  margin: 0;
}

@media screen and (min-width:350px) and (max-width:800) {
 .app{
    width: 320px;
    font-size: small;
    height: fit-content;

 }   
 .header1{
     display:none;
 }
 .help{
     width: 100px;
     margin:1%;
     padding: 2%;
 }
 div{
     width:50%;
 }
}
